/* 공통요소 */
@import url(font.css);

.container{
    width: 90%;
    max-width: 1132px;/* 최대넓이값 */
    margin: 0 auto;
}
/* 플룻해제 */
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

*{
    font-family: 'NanumBarunGothic', sans-serif;
}

/* 숨김요소 */
.blind{
    position: absolute;
     width: 0;
     height: 0;
     line-height: 0;
     text-indent: -9999px;
     overflow: hidden;
}


/*  */
.sec_tit{
    color: #372317;
    text-align: center;
    margin-bottom: 30px;
    font: 24px 'Debussy';
    position: relative;
}
.sec_tit::after{
    content: '';
    width: 20px; height: 2px;
    background-color: #998675;
    position: absolute;
    bottom: -10px; left: 50%;
    transform: translateX(-50%);
}
.desc{
    color: #75675c;
    font: 400 15px/1.8 'NanumBarunGothic';
    margin-bottom: 40px;
    text-align: center;
}





@media all and (min-width:768px){
    .sec_tit{
        font-size: 30px;
        text-align: center;
    }

}
@media all and (min-width:1132px){
    .desc{
        font: 400 16px/1.8 'NanumBarunGothic';
    }
}